<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rytis.customnavigationbuttons">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-sdk android:maxSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeButtonSettingsActivity"
            android:label="Home button settings">
        </activity>
        <activity
            android:name=".RecentButtonSettingActivity"
            android:label="Recent button settings">
        </activity>
        <activity
            android:name=".BackButtonSettingsActivity"
            android:label="Back button settings">
        </activity>
        <activity
            android:name=".HomeLongPressActivity"
            android:label="Long press options">
        </activity>
        <activity
            android:name=".HomeDoublePressActivity"
            android:label="Double press options">
        </activity>
        <activity
            android:name=".RecentLongPressActivity"
            android:label="Long press options">
        </activity>
        <activity
            android:name=".RecentDoublePressActivity"
            android:label="Double press options">
        </activity>
        <activity
            android:name=".BackLongPressActivity"
            android:label="Long press options">
        </activity>
        <activity
            android:name=".BackDoublePressActivity"
            android:label="Double press options">
        </activity>

        <service android:name=".MainButtonService">
        </service>
        <service android:name=".OptionsService">
        </service>
        <service android:name=".TopOptionService" />
        <service android:name=".LeftOptionService" />
        <service android:name=".RightOptionService" />
        <service android:name=".BottomOptionService" />

    </application>

</manifest>